.container {
  display: flex;
  flex-direction: row;
  margin-top: 45px; /* 고정 헤더 높이에 따라 조절 */
  min-height: calc(100vh - 45px);
  background-color: #f4f6f8; 
}

.memberDetail {
   flex: 1; /* Sidebar 제외한 나머지 공간 모두 차지 */
  margin: 20px; /* Sidebar 및 가장자리와의 여백 */
  padding: 30px 35px;
  background-color: #ffffff; /* 콘텐츠 영역은 흰색 배경 (카드 형태) */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  
  
}

.memberDetail form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 500px;
}

/* 하나의 줄 */
.formRow {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
}

/* 왼쪽 라벨 텍스트 고정 너비 */
.formRow label {
  width: 100px;
  font-weight: bold;
}

/* 입력창 기본 */
.formRow input[type="text"] {
  padding: 8px 10px;
  font-size: 14px;
  flex: 1;
}

/* 버튼 위치 */
.formRow button {
  padding: 6px 10px;
  font-size: 14px;
  white-space: nowrap;
}

/* 성별 라디오 버튼 전용 스타일 */
.formRow .gender-options {
  display: flex;
  gap: 10px;
  align-items: center;
}

.pink {
  color: #ff0066;
}
h2 {
  margin-bottom: 50px;
}




