 
 .container {
    display: flex;
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapperD {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 950px;
    height: 800px;
  }

  .wrapper2 {
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    justify-content:space-between;
    width: 80%;
  }


  .wrapper3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  
  .titleD {
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 80px;
  }
  
  .content {
    font-size: 43px;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: right;
    
  }

  .idtext {
    font-size: 40px;
    font-weight: 500;
    margin-top: 10px;
  }
  

  .submitBtnD {
    width: 80%;
    background-color: #FF3366;
    color: white;
    padding: 12px;
    margin-top: 80px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 28px;
  }
  

  .img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    border: 2px solid #FF3366;
  }

  .img2 {
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }

  