 
 .containerf {
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  .boxf {
    border: 1px solid #000;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 550px;
    height: 500px;
  }
  
  
  .titlef {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
  }

  .title2f {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px;
  }

  .title3f {
    font-size: 17px;
    font-weight: normal;
    margin-bottom: 80px;
    margin-top: 40px;
  }
  
  
  .formf {
    width: 100%;
    max-width: 430px;
    display: flex;
    flex-direction: column;
    
  }
  
  .labelf {
    display: block;
    margin-bottom: 4px;
    color: #374151;
  }
  
  .text_boxf {
    width: 100%;
    border: 1px solid #9ca3af;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 30px;
    outline: none;
    box-sizing: border-box;
  }
  
  .submit_btnf {
    width: 100%;
    background-color: #b0b0b0;
    color: white;
    padding: 8px;
    margin-top: 20px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
    font-size: 18px;
  }

  .login_btn {
    width: 100%;
    background-color: #FF3366;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    height: 43px;
  }
  
  .keyimgf {
    width: 70px;
    height: 70px;
  }

  .keyimg1f {
    width: 70px;
    height: 70px;
  }
  
  