 
 .container {
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
  }
  
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .progress-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .circle {
    width: 24px;
    height: 24px;
    border-radius: 9999px;
    background-color: #d1d5db;
  }
  
  .circle.active {
    background-color: #f43f5e;
  }
  
  .line {
    width: 80px;
    height: 4px;
    background-color: #d1d5db;
    margin: 0 8px;
  }
  
  .form {
    width: 100%;
    max-width: 448px;
    display: flex;
    flex-direction: column;
    
  }
  
  .label {
    display: block;
    margin-bottom: 4px;
    color: #374151;
  }
  
  .text_box {
    width: 100%;
    border: 1px solid #9ca3af;
    border-radius: 4px;
    padding: 8px 12px;
    margin-bottom: 30px;
    outline: none;
    box-sizing: border-box;
  }

  .text_box2 {
    width: 100%;
    border: 1px solid #9ca3af;
    border-radius: 4px;
    padding: 8px 12px;
    outline: none;
    box-sizing: border-box;
  }
  
  .submit_btn {
    width: 100%;
    background-color: #b0b0b0;
    color: white;
    padding: 8px;
    margin-top: 30px;
    border-radius: 4px;
    border: none;
    box-sizing: border-box;
  }
  
  .forgetmsg {
        font-size: 10px;
        font-weight: normal;
        margin-bottom: 24px;
        color: #b0b0b0;
        margin-left: auto;
        margin-top: 3px;
  }

  .highlight {
    font-weight: bold;
    color: #111;
  }

  