 *,
 body {
  font-family: "NotoSans-Medium";
 }

 .container {
    display: flex;
    min-height: 100vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    width: 100%;
    width: 550px;
    height: 500px;
  }
  
  
  .title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 24px;
  }
  
  .content {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 10px;
    margin-top: 30px;
  }

  .content2 {
    font-size: 25px;
    color: #6B6B6B;
    font-weight: normal;
    margin-bottom: 50px;
    margin-top: 10px;
  }
  

  .submitBtn {
    width: 100%;
    background-color: #FF3366;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    height: 43px;
  }
  
  .pwdBtn {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px;
    margin-top: 30px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    font-size: 20px;
    height: 43px;
  }


  