.background {
    background-color: #BBBBBB;
    width: 100vw;  
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
}
.withdraw_container {
    width: 800px;
    height: 670px;
    margin: 40px auto;
    padding: 30px;
    color: #222;
    background-color: #fff;
  }

  

  
  .withdraw_title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .withdraw_warning {
    background-color: #fbeeee;
    border: 1px solid #f3cccc;
    padding: 15px;
    color: #cc2f2f;
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
    border-radius: 2px;
  }
  
  .withdraw_warning strong {
    color: #cc2f2f;
  }
  
  .withdraw_warning ul {
    margin-top: 10px;
    padding-left: 20px;
    color: #333;
  }

  .body-text {
    font-size: 18px;
  }
  
  .withdraw_notice {
    background-color: #F8F8F8;
    border: 1.3px solid #BBBBBB;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #000;
    border-radius: 2px;
  }
  
  .withdraw_notice ul {
    padding-left: 20px;
  }
  
  .withdraw_reason {
    margin-bottom: 20px;
  }
  
  .withdraw_reason label {
    display: block;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
  .withdraw_input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .withdraw_agree {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-size: 14px;
  }
  
  .text_box {
    margin-right: 8px;
    margin-bottom: 10px;
  }
  
  .da_btn {
    width: 120px;
    padding: 10px;
    background-color: #d3d3d3;
    border: none;
    border-radius: 4px;
    color: #777;
    font-size: 16px;
    font-weight: bold;
  }

  .dabtn {
    margin-top: 40px;
    display: flex;
    justify-content: center;
  }
  

  