
.container {
  background-color: #fff;
  padding-top: 70px;
  padding-bottom: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.authButtons {
  margin: 0 20px;
}
    
.authButtons button {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.authButtons button:hover {
  background-color: #e0e0e0;
  color: #333;
}

.searchBarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.searchCompact{
 position: relative;
 top: auto;
 left: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.gridItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.itemContent {
  padding: 10px;
}

.placeholder {
  height: 300px;
  background-color: #d9e6f2;
  margin-bottom: 10px;
  border-radius: 4px;
}

.gridItem h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.gridItem p {
  color: #666;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  gap: 8px;
}

.pagination button {
  padding: 10px 16px;
  font-size: 14px;
  background-color: #f0f4ff;
  color: #333;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  transition: all 0.2s ease-in-out;
}

.pagination button:hover {
  background-color: #a3bffa;
  color: white;
  transform: translateY(-2px);
}

.pagination .active {
  background-color: #5b76f7;
  color: white;
  box-shadow: 0 4px 8px rgba(91, 118, 247, 0.4);
}