.container {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  background-image: url(../../assets/images/camping.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 60px; 
}

.videoList {
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  padding: 20px 0;
  max-height: 400px; 
  overflow-y: auto; 
}

.videoList ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 80%;
}

.videoList li {
  width: calc(20% - 16px);
  height: 350px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
}