
.container {
  background-color: #fff;
  padding: 100px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.menu {
  font-size: 24px;
  cursor: pointer;
}

.authButtons {
  margin: 0 20px;
}
    
.authButtons button {
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-left: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.authButtons button:hover {
  background-color: #e0e0e0;
  color: #333;
}

.searchBarWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
}

.searchBar {
  display: flex;
  align-items: center;
  width: 400px;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.searchBar:hover {
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.searchBar input {
  flex: 1;
  padding: 12px 20px;
  border: none;
  border-radius: 50px 0 0 50px;
  outline: none;
  font-size: 16px;
  background-color: transparent;
}

.searchBar input::placeholder {
  color: #aaa;
}

.searchBar input:focus {
  background-color: #f9f9f9;
}

.searchIcon {
  padding: 8px 18px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  border-radius: 0 50px 50px 0;
  transition: color 0.3s ease;
}

.searchIcon:hover {
  color: #a3bffa;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 15px;
}

.gridItem {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.itemContent {
  padding: 10px;
}

.placeholder {
  height: 300px;
  background-color: #d9e6f2;
  margin-bottom: 10px;
  border-radius: 4px;
}

.gridItem h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #333;
}

.gridItem p {
  color: #666;
  font-size: 14px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 8px 12px;
  margin: 0 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.active {
  background-color: #d9e6f2;
  border-color: #a3bffa;
}

.pagination button:hover {
  background-color: #e0e0e0;
}
