@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Noto Sans", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

html, body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90vh;
  background-size: cover;
  /* background-position: center; */
  background-position: 50% 50%;
  background-repeat: no-repeat;
  position: relative;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container h1 {
  position: absolute;
  top: 80px;
  left: 60px;
  color: white;
  font-size: 80px;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.searchbar {
  position: absolute;
  top: 100px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.searchInput {
  flex: 1;
  width: 250px;
  min-width: 150px;
  height: 35px;
  border: none;
  background-color: #fff;
  padding: 0 10px;
  outline: none;
  border-radius: 5px;
  margin-right: 10px;
}

.searchButton {
  width: 45px;
  height: 35px;
  border-radius: 5px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.searchIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.sliderContainer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: flex-end; /* ✅ 슬라이더를 오른쪽에 붙임 */
  box-sizing: border-box;
}

.section {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 0 20px;
}

.section h3 {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 15px;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.card {
  width: calc(20% - 16px);
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 5px;
}

.moreButton {
  background-color: #3f3f3f;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 40px auto;
}

.moreButton::before,
.moreButton::after {
  content: "";
  height: 1px;
  background-color: #444;
  position: absolute;
  top: 50%;
  width: 490px;
}

.moreButton::before {
  left: -510px;
}

.moreButton::after {
  right: -510px;
}

.moreButton:hover {
  background-color: #2c2c2c;
}
