
.contents_wrap {
    position: fixed;                 
    top: 0;
    left: calc(10vh + 20px);
    bottom: 20px;                    
    margin-top: 20px;
    display: flex;
    background-color: white;
    border-radius: 0 10px 10px 0;
    padding: 10px;
    flex-direction: column;
    width: 92%;
}

.date{
    padding-left: 100px;
    font-size: 30px;
    margin: auto 0 0 0;
}

.mainBox {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    margin: auto;
}


  /* 왼쪽 리스트 영역 */
.listSection {
    width: 60vh;
    height: 80vh;
    position: relative;
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}
.listTitle{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: white;
    border-style: solid;
}
.listContent{
    padding: 20px;
    height: 60vh;
    overflow-y: scroll;
}
  /* 스크롤바의 폭 너비 */
.listContent::-webkit-scrollbar {
    width: 10px;  
}

.listContent::-webkit-scrollbar-thumb {
    background: white; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.listContent::-webkit-scrollbar-track {
    background: black;  /*스크롤바 뒷 배경 색상*/
}

.listContent input{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    accent-color: white;
}

/* .listSection > ul {
    list-style: none;
    padding: 10px;
} 

.listSection > li {
    margin-bottom: 10px;
} */

.addButton {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

  /* 오른쪽 플랜 영역 */
.planSection {
    position: relative;
    width: 100vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
}
.planTitle{
    padding: 15px;
    font-size: 20px;
    text-align: center;
    border-width: 0 0 1px 0;
    border-color: black;
    border-style: solid;
}
.planText{
    height: 60vh;
    padding: 20px;
    overflow-y: scroll;
}
  /* 스크롤바의 폭 너비 */
.planText::-webkit-scrollbar {
    width: 10px;  
}

.planText::-webkit-scrollbar-thumb {
    background: black; /* 스크롤바 색상 */
    border-radius: 10px; /* 스크롤바 둥근 테두리 */
}

.planText::-webkit-scrollbar-track {
    background: white;  /*스크롤바 뒷 배경 색상*/
}
.planSection p{
    padding-left: 10px;
}
.planIcons {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.planIcons button {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

  /* 양쪽 화살표 버튼 */
.navArrows {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
}

.leftArrow,
.rightArrow {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
}

