.contents_wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding-left: 100px; */
    background-color: #fff;
    margin-top: 45px;
    box-sizing: border-box;
    position: relative;
}

.date {
    padding-left: 150px;
    margin-top: 20px;
    font-size: 30px;
}

/* flex-wrap으로 대응 */
.mainBox {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
}

/* 리스트 영역 */
.listSection {
    flex: 1 1 300px;
    height: 75vh;
    position: relative;
    background-color: black;
    color: white;
    border: 1px solid #ccc;
    border-radius: 10px 0 0 10px;
}

.listTitle {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid white;
}

.listContent {
    padding: 20px;
    height: 50vh;
    overflow-y: auto;
}

.listContent::-webkit-scrollbar {
    width: 10px;
}

.listContent::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

.listContent::-webkit-scrollbar-track {
    background: black;
}

.listContent input {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    accent-color: white;
}

.addButton {
    position: absolute;
    bottom: 15px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

/* 플랜 영역 */
.planSection {
    flex: 2 1 300px;
    min-width: 280px;
    height: 75vh;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 0 10px 10px 0;
    position: relative;
}

.planTitle {
    padding: 10px;
    font-size: 15px;
    text-align: center;
    border-bottom: 1px solid black;
}

.planText {
    height: 50vh;
    padding: 20px;
    overflow-y: auto;
}

.planText::-webkit-scrollbar {
    width: 10px;
}

.planText::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
}

.planText::-webkit-scrollbar-track {
    background: white;
}

.planSection p {
    padding-left: 10px;
}

.planIcons {
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.planIcons button {
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
}
.saveButton
{
    margin-right: 10px;
}

/* 화살표 버튼 */
.navArrows {
    position: absolute;
    top: 50%;
    left: 55px;
    right: 55px;
    display: flex;
    justify-content: space-between;
}

.leftArrow,
.rightArrow {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0;
}
