.sidebar {
  width: 200px;
  height: 100vh;
  background-color: #1e1e1e;
  color: white;
  padding-top: 20px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 15px 20px;
  cursor: pointer;
}

.sidebar li.active {
  background-color: #333;
  font-weight: bold;
}
